
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 30px;
  font-weight: bold;
}

.user-directory h2 {
  text-align: center;
  margin-left: 60px;
  margin-top: 20px;
}

.user-directory h3 {
  text-align: center;
  margin-left: 60px;
  margin-top: 10px;
}

.user-directory li {
  list-style: none;
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;    
  margin-bottom: 15px;
  text-align: center;
  background-color: lightblue;
  border-radius: 10px;
} 
